/* .section {
  &__imagine {
    display: none;
  }
} */
/* 
body {
  height: 350vh;
} */
/* 
main {
  
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
} */
.text--imagine {
  font-size: 40px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0 10% 0;
}

.imagine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.imagine__text {
  position: absolute;
  top: 51%;
  left: 57%;
  font-weight: bold;
  font-size: 35px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.city {
  position: relative;
  height: 100vh;
}

.city__parallax {
  /* 
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; */
  position: absolute;
}

.city__background {
  /* 
    background: url(../assets/img/background.png) 0 0 / 100% no-repeat; */
  top: -20%;
  left: 14%;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.city__bridge {
  /* 
    background: url(../assets/img/bridge.png) bottom center / 100% no-repeat; */
  top: 128%;
  left: 13%;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.city__hero {
  /* 
    background: url(../assets/img/hero-back.png) bottom center / 30% no-repeat; */
  top: 10%;
  left: 10%;
}

.city__house-right {
  /* 
    background: url(../assets/img/house_1.png) center right/ 30% no-repeat; */
  right: -5%;
  top: 70%;
}

.city__house-center {
  /* 
    background: url(../assets/img/house_2.png) 80% 30% / 30% no-repeat; */
  right: 15%;
  top: 25%;
}

.city__house-left {
  /* 
    background: url(../assets/img/house_3.png) center left / 30% no-repeat; */
  top: 123%;
  left: 19.5%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.city__lighters {
  /* 
    background: url(../assets/img/lighters.png) bottom right/ 30% no-repeat; */
  right: 17%;
  top: 111%;
}

.city__moscow {
  /* 
    background: url(../assets/img/moscow-city.png) center left / 30% no-repeat; */
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

/*  .city {

    
    &__parallax {
    }
  
    &__background {
    position: absolute;
    top: 45%;
    left: 24%;
    transform: scale(0.75);
    }
    &__bridge {/
    position: absolute;
    top: 128%;
    left: 13%;
    transform: scale(0.95);
  
    }
    &__hero {
    position: absolute; 
    transform: scale(0.5);
  
    }
    &__house-right {
    position: absolute;
    right: 11%;
    top: 25%;
  
    }
    &__house-center {
    position: absolute;
    right: 20.8%;
    top: 29%;
    transform: scale(0.95);
  
    }
    &__house-left {
  
    position: absolute;
    top: 123%;
    left: 19.5%;
    transform: scale(0.8);
    }
    &__lighters {
    position: absolute;
    right: 17%;
    top: 111%;
  
    }
    &__moscow {
    position: absolute;
    top: 46%;
    -webkit-transform: scale(0.7);
    transform: scale(0.6);
    left: 12%;
    }
  }  */
/*# sourceMappingURL=style.css.map */