

.text {
  &--imagine {
    font-size: 40px;
  }
}
.title {
  &--hero {
    font-weight: 900;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.audio {
  &_btn {
    position: fixed;
    z-index: 5000;
    bottom: 20%;
    left: 15%;
    #audioBtn {
      width: 0;
    }
  }
  &_pic {
    height: 50px;
  }
}


.preloader {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: -0.4%;
  width: 100vw;
  height: 100vh;
  padding-top: 233px;//214
  background: #fff;
  transition: opacity 1s ease;
}
.preloader--finished {
  opacity: 0;
  pointer-events: none;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 5% 0 10% 0;
}


.imagine {
  display: flex;
  justify-content: center;
  position: relative;
  &__text {
    position: absolute;
    top: 51%;
    left: 57%;
    font-weight: bold;
    font-size: 35px;
  }
}

.city {
  display: none;
  position: relative;
  height: 100vh;
  &__parallax {
    position: absolute;
  }
  &__background {
    top: -20%;
    left: 23%;
    transform: scale(0.75);
  }
  &__bridge {
    top: 102%;
    left: 7%;
    transform: scale(0.95);
  }
  &__hero {
    top: 10%;
    left: 10%;
  }
  &__house-right {
    right: -17%;
    top: 70%;
  }
  &__house-center {
    right: 0%;
    top: 25%;
  }
  &__house-left {
    top: 82%;
    left: 15%;
    transform: scale(0.8);
  }
  &__lighters {
    right: -10%;
    top: 102%;
  }
  &__moscow {
    top: 26%;
    left: 3%;
  }
}
